/*RESET CSS*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILO DO CORPO DO SITE*/
body{
    background-color: #d1d0d0;
    font-family: "Work sans";
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 25px;
}

h1{
    font-family: "fjalla one";
    font-size: 40px;
}

form{
    background-color: #f9f9f9;
    padding: 25px;
    border: 2px solid #f9f9f9;
    margin-bottom: 100px;
    border-radius: 10px;
}

fieldset{
    padding:25px;
    border: 2px solid #a5a1a1;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend{
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px;
}

label{
    display: inline-block;
    margin-bottom: 10px; 
}

p{
    margin-bottom: 1px;
    font-weight: bold;
}

input, select, textarea{
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border: 2px solid #cccccc;
    border-radius: 5px;
}

textarea{
    min-height: 100px;
}

    input[type="radio"],
    input[type="checkbox"]{
    width: auto;
}

input[type="color"] {
width: 40px;
height: 30px;
padding:0
}

input:invalid,
select:invalid,
textarea:invalid{
    border-color: red;
    border-width: 2px;
}

input:valid,
select:valid,
textarea:valid{
    border-color: green;
    border-width: 2px;
}

button{
    width: 100px;
    height: 30px;
    background-color: #ffff;
    border: 1px solid:#d1d0d0;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"]:hover{
    background-color: rgb(150, 4, 4);
    color: #ffffff
}

button[type="submit"]:hover{
    background-color: rgb(11, 87, 1);
    color: #ffffff
}
